@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
@font-face {
    font-family: 'Fira Sans';
    src: url('FiraSans-Regular.ttf');
}

a {
    /* <(Apply directive)> */
    @apply hover:underline
}

* {
    font-family: 'Fira Sans';
}
